.text{
    font-family:monospace;
    color: aliceblue;
}

.padding-top{
    padding-top: 20px;
}
.margin{
    margin-left: 15%;
    margin-right: 15%;
}

/*----------------main banner start------------------*/
.banner-image{
    background-image: url("../assets/images/banner.jpg");
    border-image-width: 100%;
    height: auto;
    min-height: 360px;
    background-size: cover;
}
.bg-color
{
    background-color: rgba(15, 15, 15, 0.8);
    width:100%;
    height: 600px;
}


/*--------nav bar start---------*/
.logo{
    height: 8px;
    width:8px;
    padding:8px;
    background-color: rgb(0, 255, 0);
    background-image: linear-gradient(90deg, rgb(21, 78, 17), rgb(132, 221, 161));
    border-radius:100%;
    float: left;
}

.logo-text
{
    font-size: medium;
    font-weight: bold;
    color: aliceblue;
    padding-left: 10px;
    float: left;
}
.quest{
    font-size: medium;
    color:azure;
    opacity: 20%;
    float: right;
    padding-right: 7px;
    
}
.login-btn{
    background-color: rgba(51, 49, 49, 0.932);
    size: 7px;
    padding: 4px;
    color: aliceblue;
    float: right;
    border-radius: 6%;
}
.login-btn:hover{
    background-color: aliceblue;
    color: rgb(207, 35, 35);
}
/*------nav bar end------*/

/*-----main banner text and image start-----*/

.flexbox-banner{
    display: flex;
    padding-top: 150px;
    width: 100%;
    height: auto;
}

.bannerbox1{
   max-width: 35%;
   height: auto;
    
}
.paragraph1{
    text-align: left;
}
.bannerbox2{
    max-width: 35%;
    height: auto;
    padding-left: 15%;
}

.chat-image{
    max-height: 250px;
    min-height: 25px;
    max-width: 250px;
    min-width: 25px;
    background-color: transparent;
}

.readmore-btn
{
    color: aliceblue;
    size: 15px;
    max-width: 80px;
    min-width: auto;
    border-radius: 7%;
    background-color: rgb(97, 201, 97);
    padding: 8px;
    
}
.readmore-btn:hover{
    background-color: rgb(30, 190, 137);
    color: rgb(26, 13, 13);
}


/*-----main banner text and image end----*/

/*-------------------main banner close--------------------*/
